{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ post.title }}</title>
    </head>
    
    <body>

        <h1>Listing for {{ post.title }} at {{ post.company }}</h1>

        <ul>

            <li>Job Type: {{ post.job_type }} </li>   
            <li>Location: {{ post.city }}, {{ post.state}} </li>   
            <li>Preferred Skills: {{ post.preferred_skills }} </li>   
            <li>Description: {{ post.description }} </li>   
            <li>Date Published: {{ post.date_published }} </li>   
            <li>Expire Date: {{ post.expire_date }} </li>   
            <li>Status: {{ post.status }} </li>   

        </ul>

        Click to edit post: <a href="/recruiters/posts/{{ post.url }}/edit">Here </a>
        or <br> Go back to the <a href="/recruiters/posts/">Blog posts </a><br><br>

    </body>
</html>

{% endblock %}
