{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Offers</title>
    </head>
    
    <body>
        <h1>List of Offers for {{ user.name }} </h1>  
        <br>

        {% for offer in offers %}

            <div class="list-group">
                <a href='{% url "candidates:post_detail_view_candidates" offer.post.url %}' class="list-group-item list-group-item-action">{{ offer.post.title }} - {{ offer.post.company }} - ${{offer.salary}} / year - Decision Deadline: {{offer.deadline}}
                </a>

            </div>
            

        {% endfor %}

        <br><br>
        <div class="btn-group">
            <div>&nbsp;&nbsp;</div>
            <a href='{% url "candidates:candidate_home" %}' class="btn btn-success active">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                </svg> Return Home
            </a>
        </div>

    </body>
</html>
{% endblock %}
